<!-- layouts/partials/random_posts.html -->

{{ $currentPagePermalink := .RelPermalink }}
{{ $randomPosts := where .Site.Pages "Type" "posts" | shuffle | first 6 }}
<div class="random-posts">
  <h2>Posts you might also like</h2>
  <ul>
    {{ range $randomPosts }}
      {{ $postPermalink := .RelPermalink }}
        {{ if ne $postPermalink $currentPagePermalink }}
          {{ if ne .RelPermalink "/posts/" }}
            <li>
              <a href="{{ $postPermalink }}">{{ .Title }}
              </a>
            </li>
          {{ end }}
        {{ end }}
    {{ end }}
  </ul>
</div>
